
<div id="background">
</div>
<div class="wrap">

  {{#with movie}}

  <div class="card" style="width: 18rem;">
   <img src="{{image}}" class="card-img-top" alt="{{title}}">
   <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    {{#each showtimes as |showtime|}}
          <li class="list-group-item">{{showtime}}</li>
        {{/each}}
    <a href="/movies" class="btn btn-primary">Go Back</a>
   </div>
  </div>

  {{/with}}
</div>